.webname{

}

.MainMenu ul{
	list-style-type: none;
	text-decoration: bold;

}

.MainMenu > li{
	display: inline;
}

.MainMenu li+li::before{
	padding: 10px;
	content: "|";
}

.MainMenu a{
	text-decoration: none;
	color: green;
	cursor: pointer;
	font-size: 20px;
}

.MainMenu a:hover{
	text-decoration: underline;
}

main{
	margin: 2rem;
  padding: 5px;
  background-color: lightgray;
}
